body {
  background:#3C454D;
}

.logo {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.builds {
  margin: 0 50px;
}
.project-name {
  color: white !important;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.project-name a {
  color: inherit;
}

.description .title, .description a {
  color: white !important;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ui.card>.extra a:not(.ui):hover, .ui.cards>.card>.extra a:not(.ui):hover {
  color: rgba(0,0,0,.4);
}

.ui.card, .ui.cards>.card {
  box-shadow: none !important;
}

@keyframes animation-running {
  0% {filter: brightness(50%);}
  50% {filter: brightness(150%);}
  100% {filter: brightness(51%);}
}

.ui.card, .ui.cards>.card.running {
  animation: animation-running 2s infinite;
}

.ui.card, .ui.cards>.card.success {
  background-color: #00AD68;
}

.ui.card, .ui.cards>.card.failed {
  background-color: #E7484D;
}

.ui.card, .ui.cards>.card.pending {
  background-color: #E75E40;
}

.ui.card, .ui.cards>.card.canceled {
  background-color: #AAAAAA;
}

.ui.card, .ui.cards>.card.rotten {
  background-color: #666600;
}
