body {
  background:#3C454D;
}

.logo {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.builds {
  margin: 0 50px;
}
.project-name {
  color: white !important;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.project-name a {
  color: inherit;
}

.ui.card>.extra a:not(.ui):hover, .ui.cards>.card>.extra a:not(.ui):hover {
  color: rgba(0,0,0,.4);
}

.ui.card, .ui.cards>.card {
  box-shadow: none !important;
}

.ui.card, .ui.cards>.card.success {
  background-color: #00AD68;
}

.ui.card, .ui.cards>.card.failed {
  background-color: #E7484D;
}

.ui.card, .ui.cards>.card.pending {
  background-color: #e75e40;
}

.ui.card, .ui.cards>.card.running{
  background-color: #2d9fd8;
}

.ui.card, .ui.cards>.card.canceled{
  background-color: #aaaaaa;
}
