body {
  background:#3C454D;
}

.logo {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.builds {
  margin: 0 50px;
}
.project-name {
  color: white !important;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.project-name a {
  color: inherit;
}

.description .title, .description a {
  color: white !important;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ui.card>.extra a:not(.ui):hover, .ui.cards>.card>.extra a:not(.ui):hover {
  color: rgba(0,0,0,.4);
}

.ui.card, .ui.cards>.card {
  box-shadow: none !important;
}

.ui.card, .ui.cards>.card.success {
  background-image: linear-gradient(#00AD68, #13FFA0);
}

.ui.card, .ui.cards>.card.success-running {
  background-image: linear-gradient(#00AD68, #2D9FD8);
}

.ui.card, .ui.cards>.card.failed {
  background-image: linear-gradient(#E7484D, #EE7E82);
}

.ui.card, .ui.cards>.card.failed-running {
  background-image: linear-gradient(#E7484D, #2D9FD8);
}

.ui.card, .ui.cards>.card.pending {
  background-image: linear-gradient(#E75E40, #EE8E79);
}

.ui.card, .ui.cards>.card.pending-running {
  background-image: linear-gradient(#e75e40, #2D9FD8);
}

.ui.card, .ui.cards>.card.canceled {
  background-image: linear-gradient(#AAAAAA, #C3C3C3);
}

.ui.card, .ui.cards>.card.canceled-running {
  background-image: linear-gradient(#AAAAAA, #2D9FD8);
}

.ui.card, .ui.cards>.card.rotten {
  background-image: linear-gradient(#666600, #E0E000);
}

.ui.card, .ui.cards>.card.rotten-running {
  background-image: linear-gradient(#666600, #2D9FD8);
}
