{
  "extends": "eslint:recommended",
  "rules": {
    "no-empty": [
      "error", { "allowEmptyCatch": true }
    ],
    "no-console": 0,
    "semi": "off",
    "quotes": ["warn", "single"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
