<!doctype html>

<html lang="en">
<head>
  <title>Gitlab CI Monitor</title>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/card.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/grid.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/message.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" />
</head>

<body>
  <div id="app">
    <div class="ui four column grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui grid">
            <div class="six wide column">
              <div class="ui yellow message">Last updated at {{lastRun}}</div>
            </div>
            <div class="four wide column">
              <img class="logo" src="images/gitlab-logo.svg"/>
            </div>
            <div class="six wide column">
            </div>
          </div>
        </div>
      </div>
      <div v-show="onError" class="row">
        <div class="eight wide column centered ">
          <div class="ui red message" v-if="onError">{{onError.message}}</div>
        </div>
      </div>
      <div v-show="invalidConfig" class="row">
        <div class="eight wide column centered">
          <div class="ui attached message">
            <div class="header">
              Invalid Configuration
            </div>
          </div>
          <div class="ui attached fluid segment">
            <p>
              Make sure all configs are set.
              The following properties must be defined in the URL.
            </p>
            <ul>
              <li>gitlab</li>
              <li>token</li>
              <li>projects</li>
            </ul>
          </div>
          <div class="ui bottom attached warning message">
            <p>Ex: http://gitlab-ci-monitor.example.com?gitlab=gitlab.example.com&token=some-token&projects=namespace/project1/branch,namespace/project2/branch,namespace/project3/branch</p>
          </div>
        </div>
      </div>
      <div v-show="loading" class="row">
        <div class="ui large active centered inline loader"></div>
      </div>
      <div class="row builds">
        <div class="sixteen wide column">
          <div class="ui four cards">
            <div v-for="pipeline in sortedPipelines" class="card {{pipeline.status}}">
              <div class="content">
                <div class="header project-name">
                  <a target="_blank" title="overview of {{pipeline.project}}" href="https://{{gitlab}}/{{pipeline.project_path}}/">{{ pipeline.project }}</a> <a target="_blank" title="file tree branch {{pipeline.branch}} of {{pipeline.project}}" href="https://{{gitlab}}/{{pipeline.project_path}}/tree/{{pipeline.branch}}">({{ pipeline.branch }})</a>
                </div>
                <div class="meta">{{ pipeline.author }}</div>
                <div class="description">
                  <a target="_blank" title="pipeline {{ pipeline.id }} of {{ pipeline.project }}" href="https://{{gitlab}}/{{pipeline.project_path}}/pipelines/{{pipeline.id}}">
                    <div class="title">{{ pipeline.title }}</div>
                  </a>
                </div>
              </div>
              <div class="extra content">
                <span class="left floated hashtag build-id">
                    <a target="_blank" title="commit {{pipeline.sha1.substring(0, 8)}} of branch {{pipeline.branch}} of {{pipeline.project}}" href="https://{{gitlab}}/{{pipeline.project_path}}/commit/{{pipeline.sha1}}">                  <i class="hashtag icon"></i>
                    {{pipeline.sha1.substring(0, 8)}}
                  </a>
                </span>
                <span class="right floated calendar" title="{{ pipeline.started_at }}">
                  <i class="calendar icon"></i>
                  {{ pipeline.started_from_now }}
                </span>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
